$font-default: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;

@font-face {
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
}
